{{ with .Site.Params.algolia_docsearch }}
<!-- stylesheet for algolia docsearch -->
{{ end }}

<style>
  .pageinfo {
    margin: 2rem 2rem 2rem 0rem;
  }

  /* hide exta section border at the bottom of the page */
  .border-top {
    border-top: 0px solid #dee2e6 !important;
  }

  /* hr.panel-line {*/
  hr {
    height: 4px;
    background-color: rgba(37, 152, 237, 0.05) !important;
    border: none
  }

  .td-navbar {
    background: #f8f9fa;
  }

  .td-content .highlight {
    margin: 0;
    margin-bottom: 2rem;
  }

  /* .td-sidebar {
    padding-top: 2rem !important;
  }

  .td-main {
    padding-top: 0rem !important;
  }

  .td-main main {
    padding-top: 1.5rem !important;
  } */

</style>
